.app-container {
  font-family: 'Segoe UI', sans-serif;
  padding: 2rem;
  background-color: #f4f4f8;
  text-align: center;
  color: #333;
}

h1 {
  color: #4a148c;
}

.form-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.add-btn {
  background-color: #6a1b9a;
  color: white;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #4a148c;
}

.buscar {
  margin: 1rem 0;
  width: 50%;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #bbb;
}

.mensaje {
  margin-bottom: 1rem;
  color: green;
  font-weight: bold;
}

.libros-lista {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.libro-card {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: left;
  position: relative;
}

.acciones {
  position: absolute;
  top: 5px;
  right: 10px;
  display: flex;
  gap: 5px;
}
